.scrapbook-container {
    margin: 10px auto;
    min-height: 85vh;
    position: relative;
    width: 80vw;
}

.scrapbook-image{
    width: 20%;
    border: 10px solid #fff;
    position: absolute;
}

.scrapbook-image:hover {
    background-color: lightgrey;
}